.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    opacity: 0;
    transition: all .3s ease;
    width: 100vw;
    z-index: 999;

    &.show{
        animation: fadeIn .3s ease forwards;
        display:block;
    }
    &.hide{
        animation: fadeOut 1s ease forwards;
        display: inline-block;
        opacity: 0;
        visibility: hidden;
    }
}
.wrapper{
    position: absolute;
}
.cartWidget{
    background-color: map-get($map: $colors, $key: secondary);
    display: none;
    padding: 20px;
    position: fixed;
    opacity: 1;
    overflow: hidden;
    right: 0;
    transition: all .3s ease;
    z-index: 1000;

    &.show{
        animation: cartWidgetShow 1s ease forwards;
        transform-origin: right;
        display: block;
    }
    &.hide{
        animation: cartWidgetHide 1s ease forwards;
        display:block;
    }
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1}
}
@keyframes fadeOut {
    0%{
        display:block;
        opacity: 1;
    }
    90%{opacity: 0;}
    100%{display:none; visibility: hidden;}
}

@keyframes cartWidgetShow{
    from{
        height: 0;
        width: 0;
        padding: 0 20px;
        transform: translate(0,-90px);
    }
    to{
        height: 500px;
        transform: translate(0, 0);
        width: 300px;
        padding: 20px;
    }
}
@keyframes cartWidgetHide{
    0%{
        display:block;
        height: 500px;
        width: 300px;
        padding: 20px;
        transform: translateY(0);
    }
    90%{
        height: 00;
        transform: translateY(-90px);
        width: 0;
        padding: 0 20px;
    }
    100%{display:none;}
}