.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;

    @media screen{
        max-width: map-get($map: $breakpoints, $key: sm) - 32px;
    }
    @media (min-width: map-get($map: $breakpoints, $key: md)) {
        max-width: map-get($map: $breakpoints, $key: md) - 36px;
    }
    @media (min-width: map-get($map: $breakpoints, $key: lg)) {
        max-width: map-get($map: $breakpoints, $key: lg) - 40px;
    }
    @media (min-width: map-get($map: $breakpoints, $key: xl)) {
        max-width: map-get($map: $breakpoints, $key: xl) - 60px;
    }
}

