@import '../../../styles/main.scss';

header{
    background-color: map-get($map: $colors, $key: primary );    
}

.nav{
    align-items: center;
    background-color: map-get($map: $colors, $key: primary );
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    &__menu{
        display: flex;

        ul{
            align-items:center;
            list-style: none;
            display: flex;
            li {

                a {
                    color: map-get($map: $colors, $key: secondary);
                    margin: 0 10px;
                    text-decoration: none;
                    position: relative;

                    &::after{
                        content: "";
                        background-color: map-get($map: $colors, $key: tertiary);
                        height: 3px;
                        left: 0;
                        margin-top: 3px;
                        position: absolute;
                        top: 100%;
                        transform: scaleX(0);
                        transition: all .3s ease-in;
                        width: 100%;
                    }

                    &:hover::after{
                        transform: scaleX(1);
                        transition: all .3s ease-in-out;
                    }
                
                }
            }
        }
    }

    &__actions{
        display:flex;
        align-items: center;

        &__search{
            display:flex;

            input{
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: 1px solid map-get($map: $colors, $key: secondary);
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                padding: 5px 10px;
                outline: none;
                transition: ease-in all .3s;

                &:focus, &:hover{
                    border: 1px solid map-get($map: $colors, $key: quaternary)
                }
            }

            button{
                background-color: map-get($map: $colors, $key: secondary);
                border: 1px map-get($map: $colors, $key: secondary) solid;
                border-left: black 1px solid;
                border-radius: 0;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
                cursor: pointer;
                font-size: .9rem;
                margin: 0;
                padding: 5px;
                outline: none;
                transition: ease-in all .3s;

                i{
                    color: black;
                    padding: 0 10px;
                }

                &:focus, &:hover{
                    border: 1px map-get($map: $colors, $key: quaternary) solid;
                }
            }

        }

        &__login{

            button{
                background-color: map-get($map: $colors, $key: tertiary);
                border: 2px map-get($map: $colors, $key: tertiary) solid;
                border-radius: 20px;
                color: map-get($map: $colors, $key: primary);
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                margin: 0 10px;
                padding: 5px 20px;
                outline: none;
                transition: all .3s ease-in-out;

                &:hover{
                    border: 2px #eaeaea solid;
                    color: #eaeaea
                }
            }
        }
    }
}