.itemDetailContainer{
    padding: 40px 0;

    &__wrapper{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__titulo{
            font-size: 1.3rem;
            font-weight: bold;
            margin: 10px 0;
        }
    }
}