.itemDetailContainer{
    padding: 40px 0;

    &__wrapper{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__titulo{
            font-size: 1.3rem;
            font-weight: bold;
            margin: 10px 0;
        }

        &__itemDetail{

            &__wrapper{
                background-color: rgb(255, 219, 219);
                border: 2px solid rgb(255, 81, 81);
                border-radius: 20px;
                padding: 20px;

                &__noResult{
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
        
                    p, h2{
                        text-align: center;
                        margin: 5px 0;
                    }
                    
                    h2{
                        font-size: 1.3rem;
                        font-weight: 600;
                    }
        
                    p{
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
        
                    i{
                        animation: subeyBaja .7s ease-in-out infinite alternate;
                        font-size: 1.3rem;
                        margin-top: 40px;
                    }
                }     
            }
        }
    }
}

@keyframes subeyBaja {
    0%{transform: translateY(-20px);}
    100%{transform: translateY(0);}
}