$colors: (
    primary: #252a34,
    secondary: #eaeaea,
    tertiary: #ff2e63,
    quaternary: #08d9d6,
    success: rgb(40, 194, 109),
);

$breakpoints: (
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px
);