.itemListContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 0 auto;
    padding: 40px 0;
    opacity: 1;
    transition: all .3s ease;
    width: 95%;

    &.loading{
        grid-template-columns: 1fr;
    }
}