.itemDetail{
    align-items: center;
    background-color: map-get($map: $colors, $key: primary);
    border-radius: 10px;
    box-shadow: 1px 1px 5px map-get($map: $colors, $key: primary);
    display:flex;
    justify-content: space-around;
    padding: 50px;
    transition: all .3s ease-out;
    width: 100%;
    

    &:hover{
        box-shadow: 3px 3px 5px map-get($map: $colors, $key: primary);
    }

    &__wrapper{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 40px;
        width: 50%;

        &__image{
            align-items: center;
            display:flex;
            justify-content:center;

            img{
                width: 100%;
            }
        }
    
        &__title{
            border-left: 5px solid map-get($map: $colors, $key: quaternary);
            display:flex;
            flex-direction: column;
            margin-top: 10px;
            padding-left: 15px;
    
            &-title{
                color: map-get($map: $colors, $key: quaternary);
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 10px;
            }
            &-description{
                color: map-get($map: $colors, $key: secondary);
                font-size: 1.3rem;
            }
        }
    
        &__variants{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 10px 0;
    
            &-text{
                color: map-get($map: $colors, $key: secondary);
                font-size: 1.3rem;
                font-weight: 600;
                margin: 5px 0;
            }
    
            &-subText{
                color: map-get($map: $colors, $key: secondary);
                font-size: 1.1rem;
                font-weight: 400;
                margin: 5px 0;
            }
    
            &-stockText{
                color: map-get($map: $colors, $key: secondary);
                font-size: 1.1rem;
                font-weight: 600;
                margin: 5px 0;
            }
    
    
            &__options{
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 5px 0;
                margin-top: 15px;
    
                &-itemCount{
                    background-color: map-get($map: $colors, $key: primary);
                    border: 0;
                    border-radius: 0;
                    color: map-get($map: $colors, $key: secondary);
                    cursor: pointer;
                    font-size: 1.3rem;
                    font-weight: bold;
                    height: 40px;
                    outline: none;
                    position: relative;
                    transition: all .3s ease-in;
                    width: 40px;
                    z-index: 0;
    
                    &:hover{
                        color: map-get($map: $colors, $key: tertiary);
                    }
    
                    &:nth-child(1){
                        border-bottom-left-radius: 15px;
                        border-top-left-radius: 15px;
                        border-left: map-get($map: $colors, $key: tertiary) 2px solid;
                        border-top: map-get($map: $colors, $key: tertiary) 2px solid;
                        border-bottom: map-get($map: $colors, $key: tertiary) 2px solid;
    
                        &:disabled{
                            opacity: 0.2;
                        }
                    }
                    &:nth-child(3){
                        border-bottom-right-radius: 15px;
                        border-top-right-radius: 15px;
                        border-right: map-get($map: $colors, $key: tertiary) 2px solid;
                        border-top: map-get($map: $colors, $key: tertiary) 2px solid;
                        border-bottom: map-get($map: $colors, $key: tertiary) 2px solid;
    
                        &:disabled{
                            opacity: 0.2;
                        }
                    }
                }
    
                &-itemCountInput{
                    border: 0;
                    border-top: map-get($map: $colors, $key: tertiary) 2px solid;
                    border-bottom: map-get($map: $colors, $key: tertiary) 2px solid;
                    border-radius: 0;
                    font-family: "Quicksand", sans-serif;
                    font-size: 1.3rem;
                    font-weight: 500;
                    height: 40px;
                    outline: none;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    
        &__price{
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 5px;
    
            span{
                color: map-get($map: $colors, $key: secondary);
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    
        &__buy{
    
            button{
                background-color: map-get($map: $colors, $key: quaternary);
                border: 0;
                border-radius: 999px;
                color: map-get($map: $colors, $key: secondary);
                content: "Agregar al carrito";
                cursor: pointer;
                font-size: 1.4rem;
                font-weight: 700;
                padding: 10px 20px;
                outline: none;
                text-align: center;
                transition: all .3s ease-out;
                width: 100%;
                
    
                &:hover{
                    transform: translateY(-5px);
                }

                &:disabled {
                    cursor: no-drop;
                }
    
                &.success{
                    animation: success-btn 1s ease forwards alternate;
                    background-image: linear-gradient(to left, map-get($colors, quaternary) 50%, map-get($colors, success) 50%);
                    background-size: 200%;
                    background-position: 100% 100%;
                    padding-left: 45px;
                    position: relative;
                    transition: all .3s ease-out;
    
                    &::before{
                        content: "\f058";
                        font-family: "Font Awesome 5 Free";
                        font-size: 1.2rem;
                        left: 4%;
                        top: 30%;
                        position: absolute;
                    }
                }
            }
        }

        &__goToCart{
            
            button{
                    background-color: map-get($map: $colors, $key: quaternary);
                    border: 0;
                    border-radius: 999px;
                    color: map-get($map: $colors, $key: secondary);
                    cursor: pointer;
                    font-size: 1.4rem;
                    font-weight: 700;
                    margin: 10px 0;
                    max-height: 0px;
                    padding: 10px 20px;
                    outline: none;
                    text-align: center;
                    transition: all .3s ease-out;
                    transform-origin: right;
                    visibility: hidden;
                    width: 100%;
                    
        
                    &:hover{
                        transform: translateY(-5px);
                    }

                    &.show{
                        animation: slideDownBtn .3s ease-in forwards;
                        animation-delay: .7s;
                        display: inline-block;
                        visibility: hidden;
                    }
                }
        }
    }

    
}

@keyframes success-btn{
    0%{background-position: 100% 100%;}
    100%{background-position: 0 100%;}
}

@keyframes slideDownBtn {
    0%{max-height: 0; padding: 0 20px;}
    100%{max-height: 100px; padding: 10px 20px; visibility: visible;}
}